@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galgo:wght@700&display=swap');

body {
  	margin: 0; line-height: normal;
}