/* src/components/auth/LoginPage.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-page h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
